// DISCOS

main{
  
  .titulo__main {
    text-align: center;
    padding-top: 15px;
    color: $colorprincipal;
    
  }
}


.store {
  padding-top: 20px;

  .item:hover{
    transform: scale(1.1, 1.1);
  }

  .item-title {
    text-align: center;
    font-weight: bold;
    color: $colorprincipal;
  }

  .itemCantante {
    text-align: center;
    color: $colorprincipal;
  }

  .item-price {
    text-align: center;
    font-weight: bold;
    color: $colorprincipal;
  }

  p {
    text-align: center;
    border-bottom: 1px solid black;
    display: inline-block;
    font-weight: bold;
    font-size: 1.5em;
    color: $colorprincipal;
  }
}

.shopping-cart {
  .text-center{
    color: $colorprincipal;
  }
  h6 {
    font-weight: bold;
    border-bottom: 1px solid black;
    color: $colorprincipal;
  }
  .totalCarrito{
    color: $colorprincipal;
  }
  .shoppingCartTotal {
    font-weight: bold;
    border-bottom: 2px solid black;
    color: $colorprincipal;
  }
}

.shopping-cart-item-title {
  font-weight: bold;
  margin-left: 15px;
  color: $colorprincipal;
}

.item-price{
  color: $colorprincipal;
  font-weight: bold;
}

.item-button {
  background-color: $colorprincipal;
  color: #e5b2b4;
  margin-bottom: 10px;
}

.item-button:hover {
  background-color: $colorsecundario;
  color: white;
  font-weight: bold;
}

.bottonContainer {
  text-align: center;
}

.buttonComprar {
  margin-left: 10px;
  background-color: $colorprincipal;
  color: #e5b2b4;
}

.buttonComprar:hover {
  background-color: $colorsecundario;
  color: white;
  font-weight: bold;
}

.buttonDelete {
  background-color: $colorprincipal;
}

.buttonDelete:hover {
  background-color: $colorsecundario;
}

.modal-content{
  background-color: $colorprincipal;
  color: white;

  .btn{
    background-color: $colorprincipal;
    color: #e5b2b4;
    font-weight: bold;
  }

  .btn:hover{
    background-color: $colorsecundario;
    color: white;
    font-weight: bold;
  }
}