// INDEX

.img_index {
  width: 100%;
  height: 50vh;
}

section {
  .titleIndex {
    color: $colorprincipal;
    text-align: center;
    margin-top: 10px;
  }

  .linkIndex {
    list-style-type: none;
    color: $colorprincipal;
    display: block;
    text-align: center;
    font-size: 1.5em;
  }

  .linkIndex:hover {
    color: white;
  }
}

section {
  .titleNovedades {
    color: $colorprincipal;
    margin-top: 15px;
    text-align: center;
    font-weight: bold;
  }

  .parrafoNovedades {
    color: $colorprincipal;
    text-align: center;
  }

  .botonNovedades {
    text-align: center;
  }

  #botonNovedades {
    background-color: black;
    font-weight: bold;
    color: white;
  }

  #botonNovedades:hover {
    background-color: $colorprincipal;
    color: black;
    font-weight: bold;
  }
}

.table {
  color: $colorprincipal;
  font-weight: bold;
}

.modal-content{
  background-color: $colorprincipal;
  font-weight: bold;

  .btn{
    background-color: black;
    color: white;
  }

  .btn:hover{
    background-color: white;
    color: black;
    font-weight: bold;
  }
}