// RESET

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Architects Daughter", cursive;
    background: rgb(249,213,239);
    background: linear-gradient(90deg, rgba(249,213,239,1) 41%, rgba(246,174,161,1) 47%, rgba(201,234,241,1) 65%);

    
  }