body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Architects Daughter", cursive;
  background: #f9d5ef;
  background: linear-gradient(90deg, #f9d5ef 41%, #f6aea1 47%, #c9eaf1 65%); }

.navbar {
  background: #d9879b; }
  .navbar .titulo__header {
    color: #4d354c;
    margin-left: 20px; }
  .navbar .titulo__header--index {
    font-weight: bold; }
  .navbar .parrafo__header--index {
    font-style: italic; }
  .navbar .link__color {
    color: #4d354c; }

hr {
  color: #4d354c; }

.img_index {
  width: 100%;
  height: 50vh; }

section .titleIndex {
  color: #4d354c;
  text-align: center;
  margin-top: 10px; }

section .linkIndex {
  list-style-type: none;
  color: #4d354c;
  display: block;
  text-align: center;
  font-size: 1.5em; }

section .linkIndex:hover {
  color: white; }

section .titleNovedades {
  color: #4d354c;
  margin-top: 15px;
  text-align: center;
  font-weight: bold; }

section .parrafoNovedades {
  color: #4d354c;
  text-align: center; }

section .botonNovedades {
  text-align: center; }

section #botonNovedades {
  background-color: #4d354c;
  color: #e5b2b4;
  font-weight: bold; }

section #botonNovedades:hover {
  background-color: #70445d;
  font-weight: bold;
  color: white; }

.table {
  color: #4d354c;
  font-weight: bold; }
  .table .ingresos {
    color: green; }

main .titulo__main {
  text-align: center;
  padding-top: 15px;
  color: #4d354c; }

.store {
  padding-top: 20px; }
  .store .item:hover {
    transform: scale(1.1, 1.1); }
  .store .item-title {
    text-align: center;
    font-weight: bold;
    color: #4d354c; }
  .store .itemCantante {
    text-align: center;
    color: #4d354c; }
  .store .item-price {
    text-align: center;
    font-weight: bold;
    color: #4d354c; }
  .store p {
    text-align: center;
    border-bottom: 1px solid black;
    display: inline-block;
    font-weight: bold;
    font-size: 1.5em;
    color: #4d354c; }

.shopping-cart .text-center {
  color: #4d354c; }

.shopping-cart h6 {
  font-weight: bold;
  border-bottom: 1px solid black;
  color: #4d354c; }

.shopping-cart .totalCarrito {
  color: #4d354c; }

.shopping-cart .shoppingCartTotal {
  font-weight: bold;
  border-bottom: 2px solid black;
  color: #4d354c; }

.shopping-cart-item-title {
  font-weight: bold;
  margin-left: 15px;
  color: #4d354c; }

.item-price {
  color: #4d354c;
  font-weight: bold; }

.item-button {
  background-color: #4d354c;
  color: #e5b2b4;
  margin-bottom: 10px; }

.item-button:hover {
  background-color: #70445d;
  color: white;
  font-weight: bold; }

.bottonContainer {
  text-align: center; }

.buttonComprar {
  margin-left: 10px;
  background-color: #4d354c;
  color: #e5b2b4; }

.buttonComprar:hover {
  background-color: #70445d;
  color: white;
  font-weight: bold; }

.buttonDelete {
  background-color: #4d354c; }

.buttonDelete:hover {
  background-color: #70445d; }

.modal-content {
  background-color: #4d354c;
  color: white; }
  .modal-content .btn {
    background-color: #4d354c;
    color: #e5b2b4;
    font-weight: bold; }
  .modal-content .btn:hover {
    background-color: #70445d;
    color: white;
    font-weight: bold; }

footer {
  background-color: #d9879b; }
