body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Architects Daughter", cursive;
  background-color: #002027; }

.navbar {
  background-color: #002027; }
  .navbar .titulo__header {
    color: #b1738a;
    margin-left: 20px; }
  .navbar .titulo__header--index {
    font-weight: bold; }
  .navbar .parrafo__header--index {
    font-style: italic; }
  .navbar .link__color {
    color: #b1738a; }

hr {
  color: #b1738a; }

.img_index {
  width: 100%;
  height: 50vh; }

section .titleIndex {
  color: #b1738a;
  text-align: center;
  margin-top: 10px; }

section .linkIndex {
  list-style-type: none;
  color: #b1738a;
  display: block;
  text-align: center;
  font-size: 1.5em; }

section .linkIndex:hover {
  color: white; }

section .titleNovedades {
  color: #b1738a;
  margin-top: 15px;
  text-align: center;
  font-weight: bold; }

section .parrafoNovedades {
  color: #b1738a;
  text-align: center; }

section .botonNovedades {
  text-align: center; }

section #botonNovedades {
  background-color: black;
  font-weight: bold;
  color: white; }

section #botonNovedades:hover {
  background-color: #b1738a;
  color: black;
  font-weight: bold; }

.table {
  color: #b1738a;
  font-weight: bold; }

.modal-content {
  background-color: #b1738a;
  font-weight: bold; }
  .modal-content .btn {
    background-color: black;
    color: white; }
  .modal-content .btn:hover {
    background-color: white;
    color: black;
    font-weight: bold; }

main {
  background-color: #052f38; }
  main .titulo__main {
    text-align: center;
    padding-top: 15px;
    color: #b1738a; }

.store {
  padding-top: 20px;
  background-color: #052f38; }
  .store .item:hover {
    transform: scale(1.1, 1.1); }
  .store .item-title {
    text-align: center;
    font-weight: bold;
    color: #b1738a; }
  .store .itemCantante {
    text-align: center;
    color: #b1738a; }
  .store .item-price {
    text-align: center;
    font-weight: bold;
    color: #b1738a; }
  .store p {
    text-align: center;
    border-bottom: 1px solid black;
    display: inline-block;
    font-weight: bold;
    font-size: 1.5em;
    color: #b1738a; }

.shopping-cart .text-center {
  color: #b1738a; }

.shopping-cart h6 {
  font-weight: bold;
  border-bottom: 1px solid black;
  color: #b1738a; }

.shopping-cart .totalCarrito {
  color: #b1738a; }

.shopping-cart .shoppingCartTotal {
  font-weight: bold;
  border-bottom: 2px solid black;
  color: #b1738a; }

.shopping-cart-item-title {
  font-weight: bold;
  margin-left: 15px;
  color: #b1738a; }

.item-price {
  color: #b1738a;
  font-weight: bold; }

.item-button {
  background-color: black;
  color: white;
  margin-bottom: 10px; }

.item-button:hover {
  background-color: #b1738a;
  font-weight: bold; }

.bottonContainer {
  text-align: center; }

.buttonComprar {
  margin-left: 10px;
  background-color: black;
  color: white; }

.buttonComprar:hover {
  background-color: #b1738a;
  font-weight: bold; }

.buttonDelete {
  background-color: black; }

.buttonDelete:hover {
  background-color: #b1738a; }

footer {
  background-color: #052f38; }
